@tailwind base;
@tailwind components;
@tailwind utilities;

.group:hover .group-hover\:text-white {
    color: white;
  }
  
  .group:hover .group-hover\:-rotate-180 {
    transform: rotate(-180deg);
  }
  
  .group:hover .group-hover\:mb-0 {
    margin-bottom: 0;
  }
  
  .group:hover .group-hover\:mr-0 {
    margin-right: 0;
  }
  
  .pomodoro-timer {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    height: 100px;
    display: none; /* Hide by default */
    display: block;
  }
  
  .pomodoro-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  
  .hover-glow {
    transition: box-shadow 0.3s ease;
  }
  
  .hover-glow:hover {
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
  }
  

  